$light: color(green saturation(20%) lightness(95%));
$dark: color(green saturation(100%) lightness(3%));
$brand: #4b9900;

$font-family-base: 'Raleway', 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
$font-family-title: 'Vollkorn', serif;

$max-content-width: 1000px;

$animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
